{% extends 'base.html.twig' %}

{% block title %}mAIsterpiece<i class="bi bi-robot"></i>{% endblock %}

{% block body %}
<div class="container col-6">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Utilisateur</th>
                <td>{{ picture.user.pseudo}}</td>
            </tr>
            <tr>
                <th>avatar</th>
                <td><img src="{{ picture.user.avatar }}" alt="Picture {{ picture.user.id }}" style="max-width: 100px; max-height: 100px;"></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ picture.createdAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                   <img src="{{ picture.fileName }}" alt="Picture {{ picture.id }}" style="max-width: 400px; max-height: 400px;">
                </td>            
                </tr>  
            <tr>
                <th>Prompt</th>
                <td>{{ picture.prompt}}</td>
            </tr>
        </tbody>
    </table>
    
    <a class="btn btn-warning" href="{{ path('app_back_picture', {'id': picture.id}) }}"><i class="bi bi-arrow-return-left"></i></a>
     <a class="btn btn-danger" href="{{ path('app_back_delete_picture', {'id': picture.id}) }}"><i class="bi bi-person-x"></i></a>
</div>
{% endblock %}
