{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}

<div class="container">
	<table class="table table-hover col-6">
		<thead>
			<tr>
				<th scope="col">Utilisateur</th>
				<th scope="col">Pseudo</th>
				<th scope="col">Email</th>
				<th scope="col">Role</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
           
                <td>
                    {# on peut utiliser l'opérateur "in" de Twig pour afficher le rôle de l'utilisateur #}
                    {% if 'ROLE_ADMIN' in user.roles %}
                    Administrateur
                    {% elseif 'ROLE_MANAGER' in user.roles %}
                    Gestionnaire
                    {% elseif 'ROLE_USER' in user.roles %}
                    Utilisateur
                    {% endif %}
                </td>
                <td>
                     <a class="btn btn-success" href="{{ path('app_back_user_show', {'id': user.id}) }}"><i class="bi bi-eye"></i></a>
                    <a class="btn btn-warning" href="{{ path('app_back_user_edit', {'id': user.id}) }}"><i class="bi bi-pencil"></i></a>
                    <a class="btn btn-warning" href="{{ path('app_back_user_delete', {'id': user.id}) }}"><i class="bi bi-trash3"></i></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
